@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.bg-container {
    background-color: #1e3a8a;
    height: 100vh;
    background-image: url("https://nxtwave.imgix.net/company-happenings/hero-section-bg-extra-pattern-desktop.svg?auto=format,compress&q=80");
    font-family: "Inter, sans-serif";
    height: 100vh;
    padding: 30px;
    background-size: cover;
}

.nxtwave-logo {
    color: white;
    padding: 60px;
    margin: 10px;

}

.paragraph {
    color: white;
    padding: 50px;
    font-size: 20px;
    margin: 20px;
    font-family: "Inter, sans-serif";
    display: block;
}

.placement-heading {
    color: #fff;
    font-weight: 1000;
    font-size: 60px;
    font-family: "Inter, sans-serif";

}



.combined-placement-para-head {
    padding: 50px;
    margin: 30px;
    margin-top: -40px;
}

.placements-paragraph {
    color: #fff;
    font-size: 19px;
    font-family: "Inter, sans-serif";
}

.placements-image {
    margin: 2px;
    margin-top: -40px;
}

.body {
    display: flex;
    align-items: center;
    height: 100vh;
}

.marquee-wrapper {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    gap: 14px;
    min-width: 100%;
    animation: scroll 30s linear infinite;
}

.border-class {
    border-radius: 10px;
}

.marquee {
    display: flex;
    animation-name: marquee;
    animation-duration: 35s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: alternate;
    transform: translateX(0);
    height: 65px;

    img {
        padding: 2em;
    }
}

@keyframes marquee {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
}

.bottom-card-container {
    background-color: #ffffff;
    margin: 120px;


}

.pre-placement-heading {
    color: #1e293b;
    font-family: sofia-pro, sans-serif;
    font-weight: 600;
    padding: 10px;
    margin: 10px;
}

.horn-image-card {
    background-color: #fff7ed;
    margin: 20px;
    border-radius: 20px;
}

.horn-image {
    height: 50px;
    width: 50px;
    padding: 10px;
    margin: 10px;
}

.horn-image-paragraph {
    color: #78350f;
    font-weight: bold;
    padding: 10px;
    font-family: Inter, sans-serif;
}

.youtube-video {
    height: 220px;
    width: 400px;
    margin: 20px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.youtube-downcard-para {
    color: #334155;
    font-weight: bold;
    font-family: Inter, sans-serif;
    padding: 5px;
    margin: 20px;

}

.spacing-contanier {
    border-color: #cccccc;
    border: 0.5px solid;
    margin: 14.5px;
    widtH: 409px;
    border-radius: 10px;
    border-top: 0px;
    margin-top: -20px;
}

.youtube-downcard-image {
    margin: 10px;
}

.youtube-video-spacing-container {
    margin: 20px;
}

.horizontal-line {
    background-color: #d9d9d9;
    border-width: 3px solid;
    width: 1320px;
}


.second-youtube-video {
    height: 300px;
    width: 550px;

    border-radius: 10px;
    font-family: Inter, sans-serif;
}

.intro-heading {
    color: #000;
    font-family: Inter, sans-serif;
    font-weight: 600;
    font-size: 32px;
}

.intro-card-container {
    background-color: #f8fafc;
    height: 80vh;
    width: 100vw;
}

.intro-spacing-container {
    margin: 60px;
    padding: 70px;
}

.faq-section {
    background-color: #fff;
    height: 70vh;
    margin: 120px;
}

.faq-heading {
    color: #1e293b;
    font-family: "sans-serif";
    font-weight: bold;
    padding: 15px;
}

.button {
    background-color: #f1f5f9;
    color: #334155;
    border-width: 0px;
    border-radius: 10px;
    margin: 20px;
    padding: 20px;
    width: 90vw;
    font-weight: bold;
    text-align: left;
    font-size: 20px;

}

.dropdown-para {
    color: #334155;
    padding: 10px;
}